html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  --main-color: #eb3448;
  --main-bg-color: #eb3448;
  color: var(--main-color);
}

#root {
  display: grid;
}

.main-box-login {
  margin: auto;
}

.main-box {
  margin: 0;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-box-login .title {
  text-align: left;
  color: white;
  background-color: var(--main-color);
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  padding: 0.5em;
}

.main-box-login .title a img{
  background-color:white;
  padding: 0.2em;
  border-radius: 2em;
}

div#header{
  display: flex;
  flex-direction:row;
  
  margin: 0;
  background-color: var(--main-color);
  height: 70px;
  color: white;
  text-align: center;
  
}

.column {
  flex: 1 1 0px;
  border: none;
  font-size: 2em;
  padding: 0.2em;
  margin: 0.2em;
}

.column.column-right {
  text-align: right;
}

div.column-right{
  font-size: 3em;
  padding: 0.1em;
  cursor: pointer;
};


div#header h1{
  color: white;
}

.popup-content{
  background-color: white;
  border: 0.1em solid;
  border-radius: 0.2em;
  padding: 0.5em;
}


#dialog-login{
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid var(--main-color);
}

#dialog-login header{
  text-align: center;
  padding-top: 0.5em;
  font-size: 2em;
}

#dialog{
  display: flex;
  flex-direction: column;
  height: 86vh;
}

#content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#footer-login {
  display: flex;
  justify-content: flex-end;
  background-color: var(--main-color);
  height: 7vh;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  padding: 0.5em;
  color: white;
}


.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 10px 20px 10px;
}

.button {
  margin-top: 0px;
  margin-bottom: 5px;
  color: var(--main-color);
  font-size: 1rem;
  padding: 15px;
  background-color: white;
  border-radius: 3px;
  border: solid 2px var(--main-color);
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
.button:hover {
  color: white;
  background-color: var(--main-bg-color);
}
.button:active {
  margin-top: 5px;
  margin-bottom: 0px;
}

#public-token {
  word-break: break-word;
}
#public-token-copy,
#public-token-copy__copied {
  float: right;
  text-align: center;
  margin: 15px 10px;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
}
#public-token-copy:hover {
  border-radius: 3px;
  color: white;
  background-color: var(--main-bg-color);
}

.text-align-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--main-color)
}
a:hover {
  font-style: italic;
}

#tabs {
  display: flex;
  flex-direction: row;
  margin: 0px;
  transition: 0.3s;
}

#tabs div {
  padding: 0.1em;
  margin: 0.1em;
  border: solid 3px white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

#tabs div.active {
  background-color: pink;
  color: white;
}

#search-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 20px 10px;
}

#search-inputs input {
  padding: 15px;
  border-radius: 3px;
  border: solid 2px var(--main-color);
  outline: none;
  font-size: 1rem;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 100%;
}

/* Removes arrows in input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
